html {
  scroll-behavior: smooth;
}


body { 
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
    background: black; 
    color: white; 
    }

.font-display { 
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* Red Gradient Overlay for Hero Section */
/*.hero-bg:before { content: ''; position: absolute; inset: 0; background: linear-gradient(180deg, rgba(238, 3, 3, 0.55), rgba(0,0,0,.85)); pointer-events: none; }*/
.hero-bg:before { content: ''; position: absolute; inset: 0; background: linear-gradient(180deg, rgba(0, 0, 0, 0.55), rgba(0,0,0,.85)); pointer-events: none; }


img {
  max-width: 100%;
  height: auto;
}

header a {
  transition: color 0.3s;
}
header a:hover {
  color: white;
    transition: color 0.3s;
}

